.loader {
    width: 100vw;
    height: 100vh;
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: linear-gradient(220.55deg, #00136c 0%, #0c1022 100%);
    transition: background-color 2000ms;
    -webkit-transition: background-color 2000ms;
    -moz-transition: background-color 2000ms;
    -ms-transition: background-color 2000ms;
    -o-transition: background-color 2000ms;
}
.container {
    position: relative;
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.container::before {
    content: '';
    position: absolute;
    align-self: center;
    width: 500px;
    height: 500px;
    animation: border1 4000ms linear infinite;
    -webkit-animation: border1 4000ms linear infinite;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    box-shadow: 0px 2px 3px -1px #fff,
    0px 5px 5px -5px #008cff,
    0px 20px 50px -20px #008cff,
    0px 20px 80px -20px #008cff,
    0px -2.5px 3px -1px #fff,
    0px -5px 5px -5px #d000d4,
    0px -20px 50px -5px #d000d4,
    0px -20px 80px -5px #d000d4;
}
.container span {
    position: absolute;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: center;
    inset: 0px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.container {
    transition: transform 1000ms;
    -webkit-transition: transform 1000ms;
    -moz-transition: transform 1000ms;
    -ms-transition: transform 1000ms;
    -o-transition: transform 1000ms;
}
.containerHover:hover {
    transform: scale(105%);
    -webkit-transform: scale(105%);
    -moz-transform: scale(105%);
    -ms-transform: scale(105%);
    -o-transform: scale(105%);
}
.containerClick {
    transform: scale(150%);
    -webkit-transform: scale(150%);
    -moz-transform: scale(150%);
    -ms-transform: scale(150%);
    -o-transform: scale(150%);
}
.containerOut {
    transform: scale(3000%);
    -webkit-transform: scale(3000%);
    -moz-transform: scale(3000%);
    -ms-transform: scale(3000%);
    -o-transform: scale(3000%);
}

.startAppBg {
    animation: startAppBg 10000ms infinite;
    -webkit-animation: startAppBg 10000ms infinite;
}

.startApp {
    animation: startApp 10000ms infinite;
    -webkit-animation: startApp 10000ms infinite;
}

.row1,
.row2,
.row3,
.row4 {
    width: fit-content;
    display: flex;
    height: 5em;
    overflow: hidden;
    margin: 0 2vw;
}

.loader .container span p {
    opacity: 0;
    font-size: 4em;
    transform: translateY(-1em);
    -webkit-transform: translateY(-1em);
    -moz-transform: translateY(-1em);
    -ms-transform: translateY(-1em);
    -o-transform: translateY(-1em);
    font-weight: bold;
    text-shadow: 0px 0px 5px #fff;
}

.loader .container h1 {
    text-shadow: 0px 0px 3px #fff;
    font-size: 4em;
    margin: 0;
    position: relative;
    display: hidden;
    text-overflow: clip;
    overflow: hidden;
    white-space: nowrap;
}

.row1 h1 {
    animation: typing1 1000ms steps(8) both;
    -webkit-animation: typing1 1000ms steps(8) both;
    animation-delay: 200ms;
}
.row1 p {
    animation: blinkCursor 1000ms steps(3) 2;
    -webkit-animation: blinkCursor 1000ms steps(3) 2;
    animation-delay: 200ms;
}
.row2 h1 {
    animation: typing1 1000ms steps(8) both;
    -webkit-animation: typing1 1000ms steps(8) both;
    animation-delay: 1600ms;
}
.row2 p {
    animation: blinkCursor 1000ms steps(3) 2;
    -webkit-animation: blinkCursor 1000ms steps(3) 2;
    animation-delay: 1600ms;
}
.row3 h1 {
    animation: typing1 1000ms steps(8) both;
    -webkit-animation: typing1 1000ms steps(8) both;
    animation-delay: 2900ms;
}
.row3 p {
    animation: blinkCursor 1000ms steps(3) 2;
    -webkit-animation: blinkCursor 1000ms steps(3) 2;
    animation-delay: 2900ms;
}
.row4 h1 {
    animation: typing2 1000ms steps(9) both;
    -webkit-animation: typing2 1000ms steps(9) both;
    animation-delay: 3400ms;
}
.row4 p {
    animation: blinkCursor 1000ms steps(3) infinite;
    -webkit-animation: blinkCursor 1000ms steps(3) infinite;
    animation-delay: 3400ms;
}
.help {
    color: rgba(255, 255, 255, 1);
    position: relative;
    font-size: 1.1em;
    text-align: center;
    overflow: visible;
    opacity: 0;
    top: 88%;
    animation: help 10000ms linear infinite;
    -webkit-animation: help 10000ms linear infinite;
    animation-delay: 10s;
}

/* ? Media queries */

@media only screen and (max-width: 520px) {
    .row1, .row2, .row3, .row4 {
        height: 35px;
        width: 158.34px;
    }
    .row4 {
        width: 175.93px;
    }
    .container h1,
    .container span p {
        font-size: 2em!important;
    }
    .container {
        width: 280px;
        height: 280px;
    }
    .container::after {
        width: 280px;
        height: 280px;
    }
    .container::before {
        width: 280px;
        height: 280px;
    }
    .help {
        font-size: 0.9em!important;
        top: 80%!important;
    }
    /* ? Animations mobile */
    @keyframes typing1 {
        0% {
            display: block;
            width: 0px;
        }
        100% {
            display: block;
            width: 140.75px;
        }
    }
    @keyframes typing2 {
        0% {
            display: block;
            width: 0px;
        }
        100% {
            display: block;
            width: 158.34px;
        }
    }
}
@media only screen and (max-height: 520px) {
    .row1, .row2, .row3, .row4 {
        height: 35px;
        width: 158.34px;
    }
    .row4 {
        width: 175.93px;
    }
    .container h1,
    .container span p {
        font-size: 2em!important;
    }
    .container {
        width: 280px;
        height: 280px;
    }
    .container::after {
        width: 280px;
        height: 280px;
    }
    .container::before {
        width: 280px;
        height: 280px;
    }
    .help {
        font-size: 0.9em!important;
        top: 80%!important;
    }
    /* ? Animations mobile */
    @keyframes typing1 {
        0% {
            display: block;
            width: 0px;
        }
        100% {
            display: block;
            width: 140.75px;
        }
    }
    @keyframes typing2 {
        0% {
            display: block;
            width: 0px;
        }
        100% {
            display: block;
            width: 158.34px;
        }
    }
}
@media only screen and (max-width: 395px) {
    .row1, .row2, .row3, .row4 {
        height: 35px;
        width: 128.33px;
    }
    .row4 {
        width: 140.77px;
    }
    .container h1,
    .container span p {
        font-size: 1.6em!important; 
    }
    .container {
        width: 280px;
        height: 280px;
    }
    .container::after {
        width: 280px;
        height: 280px;
    }
    .container::before {
        width: 280px;
        height: 280px;
    }
    .help {
        font-size: 0.9em!important;
        top: 80%!important;
    }
    /* ? Animations mobile */
    @keyframes typing1 {
        0% {
            display: block;
            width: 0px;
        }
        100% {
            display: block;
            width: 100.21px;
        }
    }
    @keyframes typing2 {
        0% {
            display: block;
            width: 0px;
        }
        100% {
            display: block;
            width: 130.21px;
        }
    }
}
/* ? Animations */
@keyframes blinkCursor {
    0%,75% {
        opacity: 1;
    }
    76%,100% {
        opacity: 0;
    }
}
@keyframes typing1 {
    0% {
        display: block;
        width: 0px;
    }
    100% {
        display: block;
        width: 281.5px;
    }
}
@keyframes typing2 {
    0% {
        display: block;
        width: 0px;
    }
    100% {
        display: block;
        width: 316.9px;
    }
}
@keyframes border1 {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
}
@keyframes startAppBg {
    20% {
        background: linear-gradient(220.55deg, #00136c 0%, #0c1022 100%);
    }
    50% {
        background: linear-gradient(220.55deg, #00136c 0%, #0c1022 100%);
    }
    55% {
        background: rgba(25, 25, 25, 1);
    }
    100% {
        background: rgba(25, 25, 25, 1);
    }
}
@keyframes startApp {
    0% {
        box-shadow: 0px 0px 0px 0px rgb(25, 25, 25);
    }
    20% {
        box-shadow: 0px 0px 100px 0px rgb(25, 25, 25);
    }
    22% {
    background: rgba(25, 25, 25, 0);
    }
    50% {
        color: white;
        filter: blur(0px);
        -webkit-filter: blur(0px);
        background: rgba(25, 25, 25, 1);
    }
    55% {
        color: rgb(25, 25, 25);
        box-shadow: 0px 0px 150px 300px rgb(25, 25, 25);
        filter: blur(10px);
        -webkit-filter: blur(10px);
        background: rgba(25, 25, 25, 1);
    }
    100% {
        color: rgb(25, 25, 25);
    }
}
@keyframes help {
    0%,100% { opacity: 0
    }
    50% { opacity: 1
    }
}
