
.projects {
    position: fixed;
    width: 100vw;
    background-color: rgb(25, 25, 25);
    background: linear-gradient(-220.55deg, rgb(25, 25, 25) 0%, #141414 100%);
    z-index: 999;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
    top: 0;
    overflow: hidden;
}

.projects .background-text {
    position: absolute;
    display: flex;
    width: 100%;
    padding: 10px 0px;
    transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
}
.projects .background-text div {
    display: flex;
    white-space: nowrap;
    animation: text-animate 80s linear infinite;
    -webkit-animation: text-animate 80s linear infinite;
    animation-delay: -80s;
}
.projects .background-text div:nth-child(2) {
    animation: text-animate2 80s linear infinite;
    -webkit-animation: text-animate2 80s linear infinite;
    animation-delay: -40s;
}
@keyframes text-animate {
    0% {
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
    }
}
@keyframes text-animate2 {
    0% {
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
    }
    100% {
        transform: translateX(-200%);
        -webkit-transform: translateX(-200%);
        -moz-transform: translateX(-200%);
        -ms-transform: translateX(-200%);
        -o-transform: translateX(-200%);
    }
}
.projects .background-text:nth-child(even) div {
    display: flex;
    white-space: nowrap;
    animation: text-animate3 80s linear infinite;
    -webkit-animation: text-animate3 80s linear infinite;
    animation-delay: -80s;
}
.projects .background-text:nth-child(even) div:nth-child(2) {
    animation: text-animate4 80s linear infinite;
    -webkit-animation: text-animate4 80s linear infinite;
    animation-delay: -40s;
}
@keyframes text-animate3 {
    0% {
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
}
    100% {
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
}
}
@keyframes text-animate4 {
    0% {
        transform: translateX(-200%);
        -webkit-transform: translateX(-200%);
        -moz-transform: translateX(-200%);
        -ms-transform: translateX(-200%);
        -o-transform: translateX(-200%);
}
    100% {
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
}
}



.projects .background-text p {
    font-size: 12vh;
    padding: 0px 5px;
    color: rgba(0, 0, 0, 0.2);
    user-select: none;
    cursor: default;
    margin: 0;
}
.projects .background-text p:hover {
    color: rgb(255, 196, 0);
    text-shadow: 0 0 100px #ff6600;
}

.projects .title {
    padding: 30px;
    position: absolute;
    width: 100vw;
}
.projects .title h1 {
    margin: auto;
    width: max-content;
    font-size: 4em;
    overflow: normal;
    color: #43b4ff;
    background: #00bede;
    background: linear-gradient(90deg, #ded300 0%, #ff6600 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0px 0px 10px rgba(255, 38, 0, 0.3);
}

.projects .title h2 {
    text-align: center;
}

.projects .section1 {
    width: 100vw;
    height: 80vh;
    background-color: #00bdde23;
    display: flex;
    top: 0;
    justify-content: center;
    align-items: center;
}

.triple-slider {
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
}

@media only screen and (max-width: 1200px) {
    .triple-slider {
        transform: scale(1.2);
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
    }
}
@media only screen and (max-width: 1000px) {
    .triple-slider {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
    }
}
@media only screen and (max-width: 800px) {
    .triple-slider {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }
}






@font-face {
    font-family: 'swiper-icons';
    src: url(data:application/font-woff;charset=utf-8;base64,\ d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA)
        format('woff');
    font-weight: 400;
    font-style: normal;
}
:root {
    --swiper-theme-color: #007aff;
}
.swiper {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}
.swiper-vertical > .swiper-wrapper {
    flex-direction: column;
}
.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
}
.swiper-android .swiper-slide,
.swiper-wrapper {
    transform: translate(0);
}
.swiper-pointer-events {
    touch-action: pan-y;
}
.swiper-pointer-events.swiper-vertical {
    touch-action: pan-x;
}
.swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
}
.swiper-slide-invisible-blank {
    visibility: hidden;
}
.swiper-autoheight,
.swiper-autoheight .swiper-slide {
    height: auto;
}
.swiper-autoheight .swiper-wrapper {
    align-items: flex-start;
    transition-property: transform, height;
}
.swiper-backface-hidden .swiper-slide {
    transform: translateZ(0);
    backface-visibility: hidden;
}
.swiper-3d,
.swiper-3d.swiper-css-mode .swiper-wrapper {
    perspective: 1200px;
}
.swiper-3d .swiper-wrapper,
.swiper-3d .swiper-slide,
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-slide-shadow-bottom,
.swiper-3d .swiper-cube-shadow {
    transform-style: preserve-3d;
}
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-slide-shadow-bottom {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 10;
}
.swiper-3d .swiper-slide-shadow {
    background: rgba(0, 0, 0, 0.15);
}
.swiper-3d .swiper-slide-shadow-left {
    background-image: linear-gradient(
        to left,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0)
    );
}
.swiper-3d .swiper-slide-shadow-right {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0)
    );
}
.swiper-3d .swiper-slide-shadow-top {
    background-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0)
    );
}
.swiper-3d .swiper-slide-shadow-bottom {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0)
    );
}
.swiper-css-mode > .swiper-wrapper {
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.swiper-css-mode > .swiper-wrapper::-webkit-scrollbar {
    display: none;
}
.swiper-css-mode > .swiper-wrapper > .swiper-slide {
    scroll-snap-align: start start;
}
.swiper-horizontal.swiper-css-mode > .swiper-wrapper {
    scroll-snap-type: x mandatory;
}
.swiper-vertical.swiper-css-mode > .swiper-wrapper {
    scroll-snap-type: y mandatory;
}
.swiper-centered > .swiper-wrapper:before {
    content: '';
    flex-shrink: 0;
    order: 9999;
}
.swiper-centered.swiper-horizontal
    > .swiper-wrapper
    > .swiper-slide:first-child {
    margin-inline-start: var(--swiper-centered-offset-before);
}
.swiper-centered.swiper-horizontal > .swiper-wrapper:before {
    height: 100%;
    width: var(--swiper-centered-offset-after);
}
.swiper-centered.swiper-vertical > .swiper-wrapper > .swiper-slide:first-child {
    margin-block-start: var(--swiper-centered-offset-before);
}
.swiper-centered.swiper-vertical > .swiper-wrapper:before {
    width: 100%;
    height: var(--swiper-centered-offset-after);
}
.swiper-centered > .swiper-wrapper > .swiper-slide {
    scroll-snap-align: center center;
}
.triple-slider {
    width: 100%;
    position: relative;
    overflow: hidden;
    perspective: 1200px;
}
.triple-slider .triple-slider-main {
    position: relative;
    z-index: 10;
    box-shadow: 0 0 30px #00000080;
}
.triple-slider .triple-slider-prev,
.triple-slider .triple-slider-next {
    position: absolute;
    top: 50%;
    user-select: none;
    cursor: pointer;
    opacity: 1;
    filter: brightness(0.3);
    -webkit-filter: brightness(0.3);
}
.triple-slider .triple-slider-prev {
    right: 50%;
    transform: translateY(-50%) scale(0.75) rotateY(10deg);
}
.triple-slider .triple-slider-next {
    left: 50%;
    transform: translateY(-50%) scale(0.75) rotateY(-10deg);
}

#app {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.triple-slider {
    padding: 32px 0;
}
.triple-slider .swiper {
    width: 90%;
    max-width: 640px;
    height: 320px;
    border-radius: 8px;
}
.triple-slider .bg-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.triple-slider .logo-image {
    position: absolute;
    bottom: 32px;
    left: 50%;
}
.triple-slider .logo-image-1,
.triple-slider .logo-image-2 {
    width: 196px;
    margin-left: -98px;
    cursor: pointer;
}
@media (max-width: 480px) {
    .triple-slider .logo-image {
        width: 160px;
        margin-left: -80px;
    }
}












/* 
.projects {
    width: 100vw;
    background-color: rgb(25, 25, 25);
    background: linear-gradient(-220.55deg, rgb(25, 25, 25) 0%, #141414 100%);
    z-index: 999;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
}

.projects .title {
    padding: 30px;
}
.projects .title h1 {
    margin: auto;
    width: max-content;
    font-size: 4em;
    overflow: normal;
    color: #43b4ff;
    background: #00bede;
    background: linear-gradient(90deg, #ded300 0%, #ff6600 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0px 0px 10px rgba(255, 38, 0, 0.3);
}
.projects .slider {
    border: #fff solid 2px;
    max-width: 1250px;
    max-height: calc(9 * 1250px / 16);
    width: 90vw;
    height: calc(9 * 90vw / 16); 
    margin: auto;
} */
















/* 
.home {
    width: 100vw;
    height: 100vh;
    scroll-margin-block: 0;
    background-color: rgb(25, 25, 25);
    background: linear-gradient(-220.55deg, rgb(25, 25, 25) 0%, #181818 100%);
    margin: auto;
    display: grid;
    grid-template-columns: 10% repeat(2, 15%) 20% repeat(2, 15%) 10%;
    grid-template-rows: 10% repeat(3, auto) 10%;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-items: center;
    overflow: hidden;
}
.home .name {
    grid-area: 2 / 2 / 3 / 7;
    animation: slide-in-left 2s cubic-bezier(0,.83,0,1) both;
    -webkit-animation: slide-in-left 2s cubic-bezier(0,.83,0,1) both;
}
.home .name h1{
    margin: 0;
    width: max-content;
    font-size: 4em;
    overflow: normal;
    color: #43b4ff;
    background: #00bede;
    background: linear-gradient(90deg, #00bede 0%, #c100ff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0px 0px 10px rgba(85, 0, 255, 0.3);
}
.home .text {
    grid-area: 3 / 2 / 5 / 8;
    height: 100%;
    text-shadow: 0px 0px 3px rgb(0, 0, 0),    0px 0px 5px rgb(0, 0, 0),    0px 0px 10px rgb(0, 0, 0);
    font-size: 1.3em;
    z-index: 1;
    animation: slide-in-left 5s cubic-bezier(0,.83,0,1) both;
    -webkit-animation: slide-in-left 5s cubic-bezier(0,.83,0,1) both;
}
.home .contact {
    width: 100vw;
    bottom: 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 50px;
    font-size: 1.3em;
    text-shadow: 0px 0px 10px rgb(0, 0, 0);
    animation: slide-in-bottom 5s cubic-bezier(0,.83,0,1) both;
    -webkit-animation: slide-in-bottom 5s cubic-bezier(0,.83,0,1) both;
    animation-delay: 4s;
}
.home .contact a:hover {
    text-shadow: 0px 0px 10px rgb(255, 255, 255);
    transition: text-shadow 1s;
    -webkit-transition: text-shadow 1s;
    -moz-transition: text-shadow 1s;
    -ms-transition: text-shadow 1s;
    -o-transition: text-shadow 1s;
}

@media only screen and (max-width: 810px) {
    .home .name {
        font-size: 0.75em;
    }
    .home .text {
        font-size: 1em;
    }
    .home .contact {
        font-size: 1em;
    }
}
@media only screen and (max-width: 600px) {
    .home .name {
        font-size: 0.65em;
    }
    .home .contact {
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    .home .contact a {
        padding: 5px;
    }
}
@media only screen and (max-width: 525px) {
    .home .name {
        font-size: 0.37em;
    }
} */