* {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    color: white;
    font-family: Inconsolata, monospace, 'Courier New', Courier;
}
*::-webkit-scrollbar {
    display: none;
}
html {
    scroll-behavior: auto;
    -webkit-scroll-behavior: auto;
}
body {
    background-color: rgb(25, 25, 25);
    overflow-x: hidden;
    height: calc(100vh + 30px);
}
.main-container {
    width: 100vw;
    height: 100%;
}
.home, .projects, .experiments, .about-me {
    position: fixed;
    top: 0;
    transition: transform 1s, opacity 1s;
    -webkit-transition: transform 1s, opacity 1s;
    -moz-transition: transform 1s, opacity 1s;
    -ms-transition: transform 1s, opacity 1s;
    -o-transition: transform 1s, opacity 1s;
    overflow: scroll;
    height: 100%;
    opacity: 0;
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
}
.section-active {
    opacity: 1;
    transform: translateY(0vh);
    -webkit-transform: translateY(0vh);
    -moz-transform: translateY(0vh);
    -ms-transform: translateY(0vh);
    -o-transform: translateY(0vh);
}
.hidden {
    display: none!important;
}
.speaker {
    width: 30px;
    height: 30px;
    margin: 20px;
    right: 0;
    position: fixed;
    cursor: pointer;
    overflow: show;
    opacity: 0;
    z-index: -1;
}
.speaker svg{
    filter: invert();
    -webkit-filter: invert();
    opacity: 0.5;
    width: 30px;
    height: 30px;
}
.speaker svg:nth-child(2) {
    opacity: 0.3;
    width: 45px;
    height: 45px;
    transform: translate(-6.5px, -7.7px);
    -webkit-transform: translate(-6.5px, -7.7px);
    -moz-transform: translate(-6.5px, -7.7px);
    -ms-transform: translate(-6.5px, -7.7px);
    -o-transform: translate(-6.5px, -7.7px);
}
.speaker-on {
    transition: opacity 5000ms;
    -webkit-transition: opacity 5000ms;
    -moz-transition: opacity 5000ms;
    -ms-transition: opacity 5000ms;
    -o-transition: opacity 5000ms;
    z-index: 1100;
    opacity: 1;
}
.nav {
    position: fixed;
    width: 30px;
    height: 150px;
    top: calc(50vh - 75px);
    right: 0;
    margin-right: 7vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    opacity: 0;
    z-index: -1;
}
.nav-on {
    transition: opacity 5000ms;
    -webkit-transition: opacity 5000ms;
    -moz-transition: opacity 5000ms;
    -ms-transition: opacity 5000ms;
    -o-transition: opacity 5000ms;
    z-index: 1100;
    opacity: 1;
}
.nav a {
    text-decoration: none;
}
.nav div {
    background-color: rgba(255, 255, 255, 0.2);
    width: 3px;
    height: 3px;
    cursor: pointer;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transition: background-color 500ms, box-shadow 500ms, border-color 500ms;
    -webkit-transition: background-color 500ms, box-shadow 500ms, border-color 500ms;
    -moz-transition: background-color 500ms, box-shadow 500ms, border-color 500ms;
    -ms-transition: background-color 500ms, box-shadow 500ms, border-color 500ms;
    -o-transition: background-color 500ms, box-shadow 500ms, border-color 500ms;
    border: rgba(255, 255, 255, 0) 5px double;
}
.nav div:hover {
    box-shadow: 0px 0px 10px 1px #fff;
    border: #fff 5px double;
}
.nav-active {
    box-shadow: 0px 0px 10px 1px #fff;
    border: #fff 5px double!important;
    cursor: not-allowed!important;
}
.opacity-off {
    opacity: 0;
    transition: opacity 500ms;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -ms-transition: opacity 500ms;
    -o-transition: opacity 500ms;
}